[submodule "webrtc-c/webrtc-and-directstream/amazon-kinesis-video-streams-producer-sdk-cpp"]
	path = webrtc-c/webrtc-and-directstream/amazon-kinesis-video-streams-producer-sdk-cpp
	url = https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp.git
