.idea*
build/
open-source/
canary/webrtc-c/.vscode/settings.json
canary/consumer-java/tmp_jar
canary/webrtc-c/.vscode/settings.json
sigv4-signing/java/SigV4Signer.java/target/classes/org/amazonaws/kinesisvideo/AwsV4Signer.class
sigv4-signing/java/SigV4Signer.java/target/classes/org/amazonaws/kinesisvideo/AwsV4Signer$1.class
sigv4-signing/java/SigV4Signer.java/target/classes/org/amazonaws/kinesisvideo/AwsV4Signer$2.class
canary/webrtc-c/src/configText
canary/consumer-java/log4j.xml
canary/consumer-java/log/java_kvs.log
canary/consumer-java/target/*
