name: Build React Application

on:
  push:
    branches:
      - master
    paths:
      - 'parser-java/label-detection-web-app/src/main/frontend/**'
      - '.github/workflows/parser-java-label-detection-web-app-frontend.yaml'
  pull_request:
    branches:
      - master
    paths:
      - 'parser-java/label-detection-web-app/src/main/frontend/**'
      - '.github/workflows/parser-java-label-detection-web-app-frontend.yaml'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 20 ]
    name: parser-java-label-detection-web-app-frontend on Node ${{ matrix.node }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          cd parser-java/label-detection-web-app/src/main/frontend
          npm install

      - name: Build
        run: |
          cd parser-java/label-detection-web-app/src/main/frontend
          unset CI # todo: remove later & fix warnings
          npm run build

  dependabot-auto-merge-after-ci-passes:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    if: >-
      github.actor == 'dependabot[bot]' &&
      github.event_name == 'pull_request'
    env:
      PR_URL: ${{ github.event.pull_request.html_url }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Approve Dependabot PR
        run: gh pr review --approve "$PR_URL"
      - name: Auto-merge Dependabot PR
        run: gh pr merge --squash --auto "$PR_URL"
